Belireview/.classpath
Belireview/target/test-classes/log4j.xml
Belireview/.settings/org.eclipse.wst.validation.prefs
Belireview/.settings/org.eclipse.wst.common.component
Belireview/target/m2e-wtp/web-resources/META-INF/maven/believe.review/brw/pom.xml
Belireview/target/m2e-wtp/web-resources/META-INF/maven/believe.review/brw/pom.properties
Belireview/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
Belireview/target/classes/log4j.xml
Belireview/target/classes/believe/review/brw/HomeController.class
Belireview/.settings/org.eclipse.jdt.core.prefs
