@media (min-width: 992px){
.a {
   margin: 80px 300px 90px 150px;
}}

#loading {
	width: 100%;
	float: left;
	text-align: center;
}

#loading img {
	float: none;
	width: 40px;
}

.totop {
    position: fixed;
    top:80%;
    right: 5%;
    z-index: 1;
    display: block;
    
}

#gogotop {
	display: block;
	border-radius: 10%;
	align-items: center;
	justify-content: center;
	background: white;
	color: #040063;
	width: 50px;
	height: 50px;
	border: solid 1px #040063;
}

#gogotop:hover {
	color: red;
	border: solid 1px red;
}

#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    text-decoration: none;
    display: block;
}
#loadMore:hover {
    background-color: #fff;
    color: #33739E;
    text-decoration: none;
}